@using PokéToolsWeb.Components;
@using PokéToolsWeb.Models;

<div class="pokedex">
    <div class="pokemon-panel">
        
            @if(Pokemons.Any())
            {
                <div class="card-container">
                    @foreach (var pokemon in Pokemons)
                    {
                        <PokemonCard Pokemon="@pokemon"
                                     CancelHover="CancelHover"
                                     OnClick="OnPokemonSelected"
                                     StartHover="StartHover"
                                     UpdateMousePosition="UpdateMousePosition">
                        </PokemonCard>
                    }
                </div>
            } 
            else
            {
                <div class="no-pokemon">
                    <span>No Pokemon found with that filter !</span>
                </div>
            }

        
    </div>
</div>

@code {
    [Parameter] public List<Pokemon> Pokemons { get; set; } = new();

    [Parameter] public EventCallback<Pokemon> OnPokemonSelected { get; set; }
    [Parameter] public EventCallback<Pokemon> StartHover { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> CancelHover { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> UpdateMousePosition { get; set; }
}
