@using PokéToolsWeb.Models
@using PokéToolsWeb.Components

<div class="content-box team-builder-container">
    <div class="team-builder-container-header">Couverture défensive</div>
    <table id="team-builder-table" class="team-builder-table">
        <thead>
            <tr class="rowH stickproof">
                <th class="tb-type-header"></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th class="tb-weak-header"></th>
                <th class="tb-resist-header"></th>
            </tr>
            <tr class="rowH">
                <th scope="col" class="rowH tb-type-header">Capa.<br><i class="material-icons">arrow_downward</i></th>
                <th data-slot="1" scope="col" class="rowH tb-pokemon"><div class="slot-pokemon">
                    <img src="@(pokemon.IconUrl)" alt="Typhlosion">
                    <div class="tb-pokemon-name">@(pokemon.Name)</div></div></th>
                <th data-slot="2" scope="col" class="rowH tb-pokemon"></th>
                <th data-slot="3" scope="col" class="rowH tb-pokemon"></th>
                <th data-slot="4" scope="col" class="rowH tb-pokemon"></th>
                <th data-slot="5" scope="col" class="rowH tb-pokemon"></th>
                <th data-slot="6" scope="col" class="rowH tb-pokemon"></th>
                <th scope="col" class="rowH tb-weak-header">Total<br>Faible</th>
                <th scope="col" class="rowH tb-resist-header">Total<br>Résist</th>
            </tr>
        </thead>
        <tbody>
            <tr class="row tb-row tb-row-normal" data-tb-type="normal">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="NRM" data-short-type="Normal" data-long-type="Normal">Normal</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-fire" data-tb-type="fire">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="FEU" data-short-type="Feu" data-long-type="Feu">Feu</span></th>
                <td data-slot="1"><span class="wr-50" data-amount="50">½</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist low-severity">1</td>
            </tr>

            <tr class="row tb-row tb-row-water" data-tb-type="water">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="EAU" data-short-type="Eau" data-long-type="Eau">Eau</span></th>
                <td data-slot="1"><span class="wr-200" data-amount="200">2×</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak low-severity">1</td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-electric" data-tb-type="electric">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="ELC" data-short-type="Électri." data-long-type="Électrique">Électri.</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-grass" data-tb-type="grass">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="PLA" data-short-type="Plante" data-long-type="Plante">Plante</span></th>
                <td data-slot="1"><span class="wr-50" data-amount="50">½</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist low-severity">1</td>
            </tr>

            <tr class="row tb-row tb-row-ice" data-tb-type="ice">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="GLC" data-short-type="Glace" data-long-type="Glace">Glace</span></th>
                <td data-slot="1"><span class="wr-50" data-amount="50">½</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist low-severity">1</td>
            </tr>

            <tr class="row tb-row tb-row-fighting" data-tb-type="fighting">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="COM" data-short-type="Combat" data-long-type="Combat">Combat</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-poison" data-tb-type="poison">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="PSN" data-short-type="Poison" data-long-type="Poison">Poison</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-ground" data-tb-type="ground">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="SOL" data-short-type="Sol" data-long-type="Sol">Sol</span></th>
                <td data-slot="1"><span class="wr-200" data-amount="200">2×</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak low-severity">1</td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-flying" data-tb-type="flying">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="VOL" data-short-type="Vol" data-long-type="Vol">Vol</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-psychic" data-tb-type="psychic">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="PSY" data-short-type="Psy" data-long-type="Psy">Psy</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-bug" data-tb-type="bug">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="INS" data-short-type="Insecte" data-long-type="Insecte">Insecte</span></th>
                <td data-slot="1"><span class="wr-50" data-amount="50">½</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist low-severity">1</td>
            </tr>

            <tr class="row tb-row tb-row-rock" data-tb-type="rock">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="ROC" data-short-type="Roche" data-long-type="Roche">Roche</span></th>
                <td data-slot="1"><span class="wr-200" data-amount="200">2×</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak low-severity">1</td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-ghost" data-tb-type="ghost">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="SPC" data-short-type="Spectre" data-long-type="Spectre">Spectre</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-dragon" data-tb-type="dragon">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="DRG" data-short-type="Dragon" data-long-type="Dragon">Dragon</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-dark" data-tb-type="dark">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="TEN" data-short-type="Ténèbr." data-long-type="Ténèbres">Ténèbr.</span></th>
                <td data-slot="1"></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist"></td>
            </tr>

            <tr class="row tb-row tb-row-steel" data-tb-type="steel">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="ACI" data-short-type="Acier" data-long-type="Acier">Acier</span></th>
                <td data-slot="1"><span class="wr-50" data-amount="50">½</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist low-severity">1</td>
            </tr>

            <tr class="row tb-row tb-row-fairy" data-tb-type="fairy">
                <th scope="row" class="rowH"><span class="tb-type-icon" data-abbr-type="FÉE" data-short-type="Fée" data-long-type="Fée">Fée</span></th>
                <td data-slot="1"><span class="wr-50" data-amount="50">½</span></td>
                <td data-slot="2"></td>
                <td data-slot="3"></td>
                <td data-slot="4"></td>
                <td data-slot="5"></td>
                <td data-slot="6"></td>
                <td class="tb-total-weak"></td>
                <td class="tb-total-resist low-severity">1</td>
            </tr>

        </tbody>
    </table>
</div>

<style>

</style>

@code {
    [Parameter]
    public Pokemon? pokemon { get; set; }

    [Parameter]
    public DefensiveTypeChart defensiveTypeChart { get; set; }
}
